.header-container {
    background: var(--main-bg);
    border-color: var(--border-color);
}

.header-outlined-button {
    background: var(--main-bg);
    border-color: var(--border-color);
    color: var(--400);
}