<div
  class="w-100 bg-white sticky-top p-2 h-auto border-1 border-bottom d-flex align-items-center justify-content-between align-items-center"
>
  <h4>{{ title }}</h4>
  <div
    class="d-flex align-items-sm-center gap-2 flex-column flex-sm-row w-100 justify-content-start justify-content-sm-end"
  >
    @for (action of pageActionService.actions(); track action.id) {
      @if (action.text) {
        <button
          matButton="outlined"
          [disabled]="loading$ | async"
          (click)="pageActionService.runAction(action.id)"
        >
          {{ action.text }}
        </button>
      } @else {
        <app-icon-button
          matTooltipPosition="above"
          [matTooltip]="action.iconTooltip"
          [iconName]="action.iconName ?? ''"
          (buttonClick)="pageActionService.runAction(action.id)"
        ></app-icon-button>
      }
    }
    <app-user-menu></app-user-menu>
  </div>
</div>
