.header-container {
    background: var(--main-bg);
    border-color: var(--border-color);
}

.header-outlined-button {
    border-color: var(--border-color) !important;
    color: var(--400) !important;
}