@if (formGroup && controlName) {
  <div [formGroup]="formGroup" class="form-group w-100">
    <label [for]="controlName"
      >{{ label }}
      @if (badgeName) {
        <span class="field-badge client">{{ badgeName }}</span>
      }
    </label>
    <input
      [class.invalid]="isInvalid(controlName)"
      [formControlName]="controlName"
      [id]="controlName"
      [required]="isRequired"
      [readonly]="disabled"
      [placeholder]="placeholder"
      [type]="type"
    />
  </div>
}
