<div class="builder-page">
  <section class="builder-hero">
    @if (this.loading$ | async) {
      <app-loading-overlay
        [visible]="this.loading$.value"
        [title]="'Loading...'"
        [message]="'Please wait while load all datas'"
      >
      </app-loading-overlay>
    }

    <div class="builder-hero-content">
      <h4>{{ form?.formName }}</h4>
    </div>
    @if (!buildingForm && myGroup) {
      <div class="dynamic-form-grid mt-2">
        @for (item of form?.fields; track item.fieldId) {
          <div class="field-wrapper" [style.grid-column]="'span ' + item.colSpan">
            @if (item.type === 'text') {
              <app-text-input
                class="full-width-field"
                [isRequired]="item.required"
                [formGroup]="myGroup"
                [type]="item.type"
                [label]="item.label"
                [controlName]="item.fieldId"
              ></app-text-input>
            }

            @if (item.type === 'number') {
              <app-text-input
                class="full-width-field"
                [isRequired]="item.required"
                [formGroup]="myGroup"
                [type]="item.type"
                [label]="item.label"
                [controlName]="item.fieldId"
              ></app-text-input>
            }

            @if (item.type === 'email') {
              <app-text-input
                class="full-width-field"
                [isRequired]="item.required"
                [formGroup]="myGroup"
                [type]="item.type"
                [label]="item.label"
                [controlName]="item.fieldId"
              ></app-text-input>
            }

            @if (item.type === 'select') {
              <app-combobox
                class="full-width-field"
                [isRequired]="item.required"
                [formGroup]="myGroup"
                [controlName]="item.fieldId"
                [options]="item.options ?? []"
              ></app-combobox>
            }

            @if (item.type === 'checkbox') {
              <app-checkbox
                class="full-width-field"
                [isRequired]="item.required"
                [formGroup]="myGroup"
                [controlName]="item.fieldId"
                [checkboxName]="item.label"
              ></app-checkbox>
            }

            @if (item.type === 'signaturePad') {
              <app-signature-pad
                [formGroup]="myGroup"
                [label]="item.label"
                [controlName]="item.fieldId"
              ></app-signature-pad>
            }
          </div>
        }
      </div>
      @if (validationErrors) {
        <app-validation
          [validationMessages]="validationErrors"
          [myGroup]="myGroup"
        ></app-validation>
      }
    }
  </section>
</div>
