<div class="builder-page">
  <section class="builder-hero">
    @if (loading$ | async) {
      <app-loading-overlay
        [visible]="loading$.value"
        [title]="'Loading...'"
        [message]="'Please wait while load all datas'"
      >
      </app-loading-overlay>
    }

    <div class="builder-hero-content">
      <h4>{{ getFormTitle() }}</h4>
    </div>

    @if (!(loading$ | async) && !buildingForm && myGroup) {
      <div class="dynamic-form-grid mt-2">
        @for (item of getFields(); track item.fieldId) {
          <div class="field-wrapper" [style.grid-column]="'span ' + item.colSpan">
            @if (item.type === 'text') {
              <app-text-input
                class="full-width-field"
                [isRequired]="item.required"
                [formGroup]="myGroup"
                [type]="item.type"
                [label]="getFieldLabel(item)"
                [controlName]="item.fieldId"
              ></app-text-input>
            }

            @if (item.type === 'number') {
              <app-text-input
                class="full-width-field"
                [isRequired]="item.required"
                [formGroup]="myGroup"
                [type]="item.type"
                [label]="item.label"
                [controlName]="item.fieldId"
              ></app-text-input>
            }

            @if (item.type === 'email') {
              <app-text-input
                class="full-width-field"
                [isRequired]="item.required"
                [formGroup]="myGroup"
                [type]="item.type"
                [label]="getFieldLabel(item)"
                [controlName]="item.fieldId"
              ></app-text-input>
            }

            @if (item.type === 'select') {
              <app-combobox
                class="full-width-field"
                [isRequired]="item.required"
                [formGroup]="myGroup"
                [label]="getFieldLabel(item)"
                [controlName]="item.fieldId"
                [options]="item.options ?? []"
              ></app-combobox>
            }

            @if (item.type === 'checkbox') {
              <app-checkbox
                class="full-width-field"
                [isRequired]="item.required"
                [formGroup]="myGroup"
                [label]="getFieldLabel(item)"
                [controlName]="item.fieldId"
                [checkboxName]="item.label"
              ></app-checkbox>
            }

            @if (item.type === 'agreement') {
              <div class="agreement-block">
                <div class="agreement-content">
                  <h3>{{ item.agreement?.title }}</h3>
                  <p>{{ item.agreement?.content }}</p>
                </div>
                <app-checkbox
                  class="full-width-field"
                  [formGroup]="myGroup"
                  [label]="`${item.fieldId}_accepted`"
                  [controlName]="`${item.fieldId}_accepted`"
                  [checkboxName]="' I accept this agreement'"
                ></app-checkbox>
              </div>
            }

            @if (item.type === 'signaturePad') {
              <app-signature-pad
                [formGroup]="myGroup"
                [label]="getFieldLabel(item)"
                [disabled]="isSignaturePadDisabled || isDisabled(item)"
                [controlName]="item.fieldId"
              ></app-signature-pad>
            }
          </div>
        }
        @if (!isSignaturePadDisabled && externalUserToken) {
          <button (click)="update()">External user save</button>
        }
      </div>

      @if (validationErrors) {
        <app-validation
          [validationMessages]="validationErrors"
          [myGroup]="myGroup"
        ></app-validation>
      }
    }
  </section>
</div>
