<div class="dialog-container">
  <div class="dialog-header">
    @if (loading$ | async) {
      <app-spinner></app-spinner>
    }
    <app-icon-button class="delete-button" (buttonClick)="close()"></app-icon-button>
  </div>
  <div class="dialog-content">
    <mat-dialog-content>
      <div class="d-flex align-items-center gap-2">
        <div>
          <mat-icon color="warn">lock</mat-icon>
        </div>
        <div>
          <h6 mat-dialog-title>Change password</h6>
        </div>
      </div>
      @if (formGroup) {
        <form [formGroup]="formGroup" class="d-flex flex-column gap-3">
          <app-text-input
            controlName="currentPassword"
            label="Current password"
            [isRequired]="true"
            placeholder="••••••••"
            type="password"
            [formGroup]="formGroup"
          >
          </app-text-input>
          <app-text-input
            controlName="password"
            label="New password"
            [isRequired]="true"
            placeholder="••••••••"
            type="password"
            [formGroup]="formGroup"
          >
          </app-text-input>
          <app-text-input
            controlName="passwordConfirm"
            label="Confirm password"
            [isRequired]="true"
            placeholder="••••••••"
            type="password"
            [formGroup]="formGroup"
          >
          </app-text-input>
        </form>
      }
    </mat-dialog-content>

    <mat-dialog-actions align="end" class="d-flex align-items-center gap-1">
      <button mat-stroked-button class="dialog-btn dialog-cancel" (click)="close()">Cancel</button>
      <app-primary-button
        (click)="cormfirm()"
        [disabled]="this.loading$.value"
        [buttonName]="'Confirm'"
        color="warn"
      ></app-primary-button>
    </mat-dialog-actions>
  </div>

  @if (validationErrors) {
    <app-validation [validationMessages]="validationErrors" [myGroup]="formGroup"></app-validation>
  }
</div>
