<div>
  @if (this.loading$ | async) {
    <app-loading-overlay
      [visible]="this.loading$.value"
      [title]="'Loading...'"
      [message]="'Please wait while load all datas'"
    >
    </app-loading-overlay>
  } @else {
    @if (dataSource && dataSource.length > 0) {
      <table mat-table [dataSource]="dataSource">
        @for (column of columns; track column.key) {
          <ng-container [matColumnDef]="column.key">
            <th mat-header-cell *matHeaderCellDef>
              {{ column.label }}
            </th>

            <td mat-cell *matCellDef="let element">
              @if (isActionColumn(column)) {
                <div class="table-actions">
                  @for (action of column.actions; track action.id) {
                    @if (!action.hidden || !action.hidden(element)) {
                      <button
                        mat-icon-button
                        type="button"
                        [disabled]="action.disabled?.(element) ?? false"
                        (click)="onActionClick($event, action, element)"
                        [attr.aria-label]="action.label"
                      >
                        @if (action.icon) {
                          <mat-icon [style]="`color: ${action.iconColor}`">{{
                            action.icon
                          }}</mat-icon>
                        } @else {
                          {{ action.label }}
                        }
                      </button>
                    }
                  }
                </div>
              } @else if (isBadge(getCellValue(column, element))) {
                <span class="status-badge" [ngClass]="getCellValue(column, element).className">
                  {{ getCellValue(column, element).text }}
                </span>
              } @else {
                {{ getCellValue(column, element) }}
              }
            </td>
          </ng-container>
        }

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          class="table-row"
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="onRowClick(row)"
        ></tr>
      </table>
    } @else {
      <app-empty-state
        [kicker]="tableEmptyStateMessage?.kicker ?? 'List'"
        [title]="tableEmptyStateMessage?.title ?? 'No list item yet'"
        [description]="tableEmptyStateMessage?.description ?? 'You have not created any item yet'"
        [buttonText]="tableEmptyStateMessage?.buttonText ?? ''"
        [imageSrc]="tableEmptyStateMessage?.imageSrc ?? ''"
        (action)="onNavigationClick()"
      ></app-empty-state>
    }
  }
</div>
