@if (!hideLeftNav) {
  @if (!isDesktop) {
    <div class="position-fixed top-0 end-0 m-3 z-3">
      <button mat-icon-button (click)="isMobile = !isMobile">
        <mat-icon>{{ isMobile ? 'close' : 'menu' }}</mat-icon>
      </button>
    </div>
  }
  <mat-sidenav-container class="layout h-100">
    <mat-sidenav
      [mode]="isDesktop ? 'side' : 'over'"
      [opened]="isDesktop || isMobile"
      [style.width]="isMobile ? '100vw' : '260px'"
    >
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="/"
          routerLinkActive="selected"
          (click)="isMobile ? (isMobile = !isMobile) : null"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Resume
        </a>
        <span class="fw-bold">Projects 15.03.2026 - Present</span>
        <span class="fw-bold">(1) Dynamic Form Generator</span>
        <a
          mat-list-item
          routerLink="/formgenerator"
          (click)="isMobile ? (isMobile = !isMobile) : null"
          routerLinkActive="selected"
        >
          Generate new form
        </a>
        <a
          mat-list-item
          routerLink="/genericformlist"
          (click)="isMobile ? (isMobile = !isMobile) : null"
          routerLinkActive="selected"
        >
          Generic form list
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="px-3">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
} @else {
  <router-outlet></router-outlet>
}
