<div class="position-relative">
  <label
    >{{ label + (isRequired ? '*' : '' ) }}
    @if (badgeName) {
      <span class="field-badge client">{{ badgeName }}</span>
    }
  </label>
  <div
    [ngClass]="disabled ? 'signature-disabled' : ''"
    class="signature-container"
    [formGroup]="formGroup"
  >
    <canvas #signatureCanvas [id]="controlName" class="signature-canvas"></canvas>
  </div>
  @if (!disabled) {
    <div class="actions">
      <app-icon-button (buttonClick)="clear()" iconName="delete"></app-icon-button>
    </div>
  }
</div>
