<div class="dialog-container">
  <div class="dialog-header">
    <app-icon-button class="delete-button" (buttonClick)="close(false)"></app-icon-button>
  </div>
  <div class="dialog-content">
    <mat-dialog-content>
      @if (formGroup) {
        <app-text-input
          controlName="password"
          label="Password"
          [isRequired]="true"
          placeholder="••••••••"
          type="Password"
          [formGroup]="formGroup"
        ></app-text-input>
      }
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="d-flex align-items-center gap-1">
      <button mat-stroked-button class="dialog-btn dialog-cancel" (click)="close(false)">
        Cancel
      </button>
      <app-primary-button
        (click)="confirm()"
        [buttonName]="'Confirm'"
        color="primary"
      ></app-primary-button>
    </mat-dialog-actions>
  </div>
</div>
